/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #223b4c;
    --secondary-color: #4d697b;
    --accent1-color: #d1eefe;
    --accent2-color: #f6f5f5;
    --heading-font: "Roboto Serif", "Times New Roman", serif;
    --paragraph-font: "Roboto", Arial, sans-serif;
}

body {
    background-color: var(--accent2-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-size: 1.17em;
    font-weight: bold;
    padding: 15px 10px;
}

nav > ul > li > a:hover {
    background-color: var(--secondary-color);
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    padding: 5px;
}

p {
    font-family: var(--paragraph-font);
}

.queue-box {
    margin: 5px;
    border: 5px solid var(--secondary-color);
}

.queue-box > form {
    padding: 5px;
}

.name-box {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-chore {
    pointer-events: none;
}

#logo-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#logo-box > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#logo-box > div > * {
    margin: 5px;
}

#taufer-family-logo {
    width: 150px;
}

#button-box {
    margin: 10px auto;
}

@media (width >= 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #unassigned-chores, #button-box {
        grid-column: 1 / 3;
    }
}

@media (width >= 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #unassigned-chores, #button-box {
        grid-column: 2 / 4;
    }
}