form {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    margin: 0 auto;
    max-width: 600px;
}

div {
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #bcbcbc;
    box-shadow: 2px 2px 1px #929292;
}

#cardFront {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    z-index: 1;
}

#cardBack {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    z-index: 0;
}

button {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    margin: 10px 0px 10px 20px;
}