/* https://coolors.co/palette/63e8f7-9c9e80-2b3f4e-dbdd90-efefad */

:root {
    --primary-color: #1E2D3E;
    --secondary-color: #B0E3EF;
    --accent-color: #3BD2EA;
    --text-dark: #101A25;
    --text-light: #EAF7F9;
}

body {
    min-width: 95vw;
    min-height: 95vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 200px auto;
}

footer {
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-light);
}

.sidebar {
    grid-column: 1;
    background-color: var(--secondary-color);
    padding: 10px;
    min-height: 85vh;
    /* text-align: right; */
}

.main {
    grid-column: 2;
    min-width: 100%;
    margin: 5px;
}

nav a {
    display: block;
}

embed {
    display: block;
    width: 100%;
    height: 100%;
}