body {
    display: grid;
    grid-template: auto 1fr auto / 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2px;
}

header {
    background: #353535;
    color: white;
    grid-column: 1/5;
}

nav {
    background: #000000;
    color: white;
    margin: 0 auto 2rem;
    max-width: 90vw;
}

a {
    color: white;
}

main {
    grid-column: 1/5;
}

.main-content {
    background: #D2D2D2;
    grid-column: 1/4;
}

.aside-content {
    background: #FFFFFF;
    grid-column: 4/5;
}

footer {
    background: #353535;
    color: white;
    grid-column: 1/5;
    text-align: center;
}