/* flexbox.css */
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    /* gap: 5em; */
}

.main-nav > li {
    flex: 0 1 5em;
}

.media-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.media-card__content > h3 {
    margin-top: 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery > * {
    flex: 1 1 460px;
}

@media screen and (min-width: 550px) {
    .media-card {
        flex-direction: row;
    }
    .media-card__image {
        flex: 0 1 250px;
    }
    .media-card__content {
        flex: 0 1 60ch;
    }
}