/* form-demo.css */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
    max-width: 800px;
    margin: 0 auto;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

form {
    display: block;
}

form > *, div > * {
    width: 100%;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label, div {
    padding: 0px;
    border: none;
    margin: 0px;
}

button {
    width: auto;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errors > p {
  border: 1px solid red;
  padding: 0.5em;
}

/* Style the select arrow for Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style the select arrow for other browsers */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.hide {
  display: none; /* Initially hide the credit card input and label */
}